.slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;   
    background: #508373;
}

input[type=range] {
	width: 40%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #dd7a55;
    cursor: pointer;
}

.slider, button, .select2, h1 {
	margin-bottom: 30px;
	display: block;
}

.output{
	display: inline-block;
}

div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 250px;                  
	height: 20px;                            
	font: 12px sans-serif;        
	background: #dd7a55; 
	color: #fff;	
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;  
	text-align: center;
	vertical-align: middle;
	line-height: 20px;  
}

#inputs {
	 width: 400px;
	 margin-top: 40px;
	 float: left;
}

h1 {
	font-size: 46px;
	color: #fff;
	background-color: #dd7a55;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 60px;
	margin-top: 0px;
}

#inputs, #info{
	margin-left: 30px;
}

svg{
	margin: auto;
	display: block;
}

.states {
	fill: #508373;
	stroke: #fff;
}


body { 
	color: #102E24;
}

#info{
	display: block;
	float: left;
	margin-top: 60px;
	margin-bottom: 10px;
}

#map{
	float: left;
}

a {
	color: #46a184;
}

